.Paragraph {
  line-height: 32px;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 400;
  word-break: break-word;
  text-indent: 35px;
  letter-spacing: -0.06px;

  @media screen and (max-width: 700px) {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.054px;
    margin-bottom: 10px;
  }
}
